@import url('https://fonts.googleapis.com/css?family=Vollkorn:400.400i,600,700,900&display=swap');

/* Conversion note - 1rem = 16px. Rem to be used as a scalable sizing unit */
/* Generic Styling */

* {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colour Palette */

/* Primary Colour - Royal Blue        - #3486E5 */
/* Secondary Colour - Very Light Grey - #F2F2F2 */
/* White Colour                       - #FFFFFF */
/* Grey Colour - Gun Metal Grey       - #4D4D4D */
/* Light Grey Colour - Pencil Grey    - #808080 */


/* Containers */

.container {
    /*very light grey*/
    background-color: #EEE;
    margin: 2.1875rem;
    box-shadow: 0 0.625rem 1.875rem #4D4D4D;
}

.header {
    width: 100%;
    height: calc(100vh - 4.375rem);
    background: linear-gradient(rgba(26, 117, 255, 0.35), rgba(26, 117, 255, 0.15)), url(../img/header-bg.png) center no-repeat;
    background-size: cover;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.heading {
    font-size: 4rem;
    color: #FFFFFF;
}

.header-paragraph {
    font-size: 1.875rem;
    font-weight: 500;
    color: #F2F2F2;
    max-width: 43.75rem;
}