@import url('https://fonts.googleapis.com/css?family=Vollkorn:400.400i,600,700,900&display=swap');

/* Conversion note - 1rem = 16px. Rem to be used as a scalable sizing unit */

/* --------- Generic Styling -------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colour Palette */

/* Primary Colour - Royal Blue        - #3486E5 */
/* Secondary Colour - Very Light Grey - #F2F2F2 */
/* White Colour                       - #FFFFFF */
/* Grey Colour - Gun Metal Grey       - #4D4D4D */
/* Light Grey Colour - Pencil Grey    - #808080 */
/* Foggy Grey Colour                  - #B3B3B3 */
/* Charcoal Grey Colour               - #333333 */
/* Smokey Grey Colour                 - #EEEEEE */     

/* -------- Containers ------------ */

.container {
    /*very light grey*/
    background-color: #EEE;
    margin: 2.1875rem;
    box-shadow: 0 0.625rem 1.875rem #4D4D4D;
    overflow: hidden;
}

/* ---------- Header ------------- */

.header {
    width: 100%;
    height: calc(100vh - 4.375rem);
    background: linear-gradient(rgba(26, 117, 255, 0.35), rgba(26, 117, 255, 0.15)), url(../img/header-bg.png) center no-repeat;
    background-size: cover;
    /* Parent element set to relative, as logo will be set to absolute */
    position: relative;
    perspective: 62.5rem;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0.1875rem 0.3125rem #808080;
}

.heading {
    font-size: 4rem;
    color: #FFFFFF;
}

.header-paragraph {
    font-size: 1.875rem;
    font-weight: 500;
    color: #F2F2F2;
    max-width: 43.75rem;
    margin: auto;
}

.header-image {
    width: 50%;
    animation-name: balloon-drift;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

.logo {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.logo h1 {
    display: flex;
}

.logo h1 span {
    font-size: 1.25rem;
    font-weight: 900;
    color: #3486E5;
    text-transform: uppercase;
    background-color: #FFFFFF;
    width: 2.1875rem;
    height: 2.1875rem;
    margin: 0.3125rem;
    border-radius: 50%;
}

.logo h1 span:nth-child(1) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    
}

.logo h1 span:nth-child(2) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    
}

.logo h1 span:nth-child(3) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(4) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(5) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(6) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(7) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
}

.logo h1 span:nth-child(8) {
    animation-name: jumping-logo;
    animation-duration: 5s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes jumping-logo {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    /* -100% will move logo letters up */
    15% {
        transform: translateY(-80%);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes balloon-drift {
    0% {
        transform: translateZ(25rem);
    }
    40% {
        transform: translateZ(-312.50rem) translateX(93.75rem);
        opacity: 0.8;
    }
    70% {
        /* Balloon image will move to a smaller view in this animation level */
        transform: translateZ(-937.50rem) translateX(500rem);
        opacity: 0.6;
    }
    80% {
        /* Balloon image will move closer to the user in this animation level */
        transform: translateZ(-31.25rem) translateX(62.5rem);
        opacity: 0.8;
    }
    100% {
        transform: translateZ(25rem);
        opacity: 1;
    }
}

/* ---------- Amazing Tours ------------- */

.amazing-tours {
    padding: 3.125rem 0 6.25rem 0;
}

.amazing-tours-heading {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #3486E5;
    text-shadow: 0 0.0625rem 0.125rem #3486E5;
}

.cards-wrapper {
    display: flex;
    justify-content: space-around; 
}

.card {
    width: 21.875rem;
    /* position of card top side set to parent */
    position: relative;
    perspective: 93.75rem;
}

.card-image {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-top-side {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    /* position of card top side set to parent */
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change > .card-top-side {
    transform: translateZ(-3.125rem) translateX(1.875rem);
    box-shadow: 0 1.25rem 2.5rem #808080;
    opacity: 0.5;
    z-index: 0;
}

.tour-id {
    font-size: 1.5625rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 0.9375rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.625rem #4D4D4D;
}

.tour-cost {
    margin-bottom: 1.875rem;
    font-size: 3.125rem;
    font-weight: 300;
    color: #FFFFFF;
}

.card-list {
    width: 80%;
    margin: auto;
    padding: 1.25rem 0 1.875rem 0;
}

.card-list-item {
    margin: 1.25rem 0;
    border-bottom: 0.0625rem solid #3486E5;
    padding-bottom: 0.9375rem;
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}

.card-rear-side {
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: #3486E5;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1.25rem 2.5rem #808080; 
    transform: translateZ(-3.125rem) translateX(1.875rem);
    opacity: 0.5;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change > .card-rear-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.3125rem 1.25rem #B3B3B3;
    opacity: 0.9;
}

.card-button {
    color: #3486E5;
    background-color: #FFFFFF;
    border: none;
    font-size: 1.5625rem;
    padding: 0.625rem 1.25rem;
    letter-spacing: 0.125rem;
    border-radius: 3.125rem;
    cursor: pointer;
}

.nav-button {
    padding: 0.3125rem;
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #808080;
    border-radius: 0.5rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    cursor: pointer;
    font-size: 0.9375rem;
    font-weight: 600;
}

/* ---------- Customer Comments ------------ */

.customer-comments {
    padding: 6.25rem;
    /* position of video-container side set to parent */
    position: relative;
}

.customer-comments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    /* position of video-container side set to parent */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.bg-video {
    /* Save on unnecessary stretching of video image */ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments-bg {
    padding: 3.125rem;
    margin: 3.125rem;
    width: 70%;
    box-shadow: 0 1.25rem 3.125rem rgba(51, 51, 51, 0.4);
    background-color: rgba(238, 238, 238, 0.85);
    /* Container moves to a lob-sided oblong shape */ 
    transform: skewX(20deg);
}

.comments {
    /* Container moves to a lob-sided oblong shape */ 
    transform: skewX(-20deg);
    display: flex;
}

.comments-heading {
    margin-bottom: 0.625rem;
    font-size: 1.5625rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #4D4D4D;
}
    
.comments-paragraph {
    font-size: 1.125rem;
    color: #808080;
}

.comments-paragraph::first-letter {
    margin-left: 0.625rem;
}

.customer-image {
    margin-right: 3.125rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------- Contact Us ------------ */

.contact-us {
    padding: 9.375rem 0 12.5rem 0;
    text-align: center;
    background: url(../img/woodland.png) center no-repeat;
    background-size: cover;
}